<div class="footer">
  <button class="btn">@Html.ActionLink("Home", "Index", "Home")</button>
  <button class="btn">@Html.ActionLink("About Us", "About", "Home")</button>
  <button class="btn">@Html.ActionLink("Account", "Index", "Account")</button>
  <button class="btn">@Html.ActionLink("LogIn", "Login", "Account")</button>
  <button class="btn">@Html.ActionLink("Register", "Register", "Account")</button>  
  <p>© 2022 Marisa Edgar</p>
</div>
