<div class="navBar">
  <button class="btn">@Html.ActionLink("Treats", "Index", "Treats") </button>
  <button class="btn">@Html.ActionLink("Add A Treat", "Create", "Treats")</button>
  <button class="btn">@Html.ActionLink("Flavors", "Index", "Flavors") </button>
  <button class="btn">@Html.ActionLink("Add A Flavor", "Create", "Flavors") </button>
  <button class="btn">@Html.ActionLink("Search", "Search", "Home")</button>
  <button class="btn">@Html.ActionLink("Contact Us", "Contact", "Home")</button>
</div>